<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>The best Burgers in Town!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="/assets/js/burgers.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Marck+Script|Patrick+Hand|Sacramento|Satisfy" rel="stylesheet">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
