



<div class="container">

  <h1 class="text-center main-title">Best Burgers in Town!</h1>
  <div class="row">
    <div class="col-sm burger-section">
      <h2 class="text-center">Burger Menu</h2>
     <ol class="burger-menu">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/new_burger devoured=true}}
    {{/unless}}
  {{/each}}
</ol>
    </div>
    <div class="col text-center">
      <img src="/public/assets/img/b1-s.png" alt="burger" height="178" width="273">
    </div>
    <div class="col-sm burger-section">
      
<h2 class="text-center">Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

    </div>
  </div>

<h2 class="text-center title-burger">Burger Description</h2>
<form class="create-form text-center">

  <div class="form-group text-center">
    {{!-- <label for="bu">Burger Name:</label> --}}
    {{!-- <input type="text" id="bu" name="name"> --}}
    <textarea type="text" id="bu" name="name"></textarea>
    
  </div>

  <button class="burger-button btn-warning" type="submit">Add a Burger</button>
</form>
</div>


{{!-- <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/new_burger devoured=true}}
    {{/unless}}
  {{/each}}
</ul> --}}
{{!-- 
<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul> --}}


