li {
    padding: 5px;
    margin: 5px;
    /* background: #faebd7; */
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  body{
    background-image:  url("../img/bg_sm.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: rgb(151, 105, 5) !important;
}

.burger-pic{
    background-image:  url('../img/b1-s.png');
}

.burger-menu{
    font-size: 17px !important;
}

.title-burger{
    color: white !important;
    font-family: 'Sacramento', cursive;
    font-size: 35px;
}

.burger-section{
    background-color: rgb(239, 247, 255,0.5);
    border-radius: 25px;
}

.change-devoured{
    border-radius: 15px;

}
.burger-button{
    border-radius: 8px;

}
.description{
    width: 350px;
    border-radius: 10px;
    background-color: rgb(239, 247, 255,0.7);
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

.main-title{
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}
