<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#unless devoured}}DEVOURE!{{/unless}}
	</button>

	{{!-- <button class="delete" data-id="{{id}}" >
		DELETE
	</button> --}}
</li>
